*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /* background-color: black; */
}
h1{
    /* color: white; */
    text-align: center;
    margin-bottom: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: auto;
}
.form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black ;
    width: 100%;
    margin: auto;
    font-size: 24px;
    outline: none;
    /* color: white; */
}
.form button{
    border: none;
    background-color: greenyellow;
    margin-top: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.ctx{
    width: 80%;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: space-around;

}
